
html,body{
  font-family: arial;
  font-weight: 400;
  height: 200%; /* Adjust based on the desired scroll length */
  overflow-y: scroll;
  scroll-behavior: smooth;
}
.scroll-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.row{
  flex-direction: row;
  display: flex;
  gap:12px;
}
.horizontal-scroll {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 800%; /* 8 boxes, each taking up 12.5% */
}
iframe{
  height: 80%;
  width: 100%;
}
.box {
  margin-left: 20px;
  flex: 0 0 9%; /* Each box takes up 12.5% of the container's width */
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: left;
  box-sizing: border-box;
  border: 2px solid white;
}

.taskarea{
  position: fixed;
  bottom: 1%;
  left: 50%;
  transform: translate(-50%, -50%);  
  border: 1px solid black;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  z-index: 9999;
  background-color: rgba(255, 255, 255, 0.8);
  display: flex;
  flex-direction: row;
  gap: 10px;
}

h1 {
  font-size: 1.5em;
  margin-top: 0;
  margin-bottom: 10px;
}


a {
  /* border: 1px solid; */
  border-color: rgb(61, 66, 69);
  color: var(--nav-link-color);
}

.container {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 10px;
}

.editor,
.output {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 0px;
  height: calc(100vh - 100px);
}

.editor {
  font-family: monospace;
  resize: none;
}

.toggle-btn {
  border: none;
  background-color: green;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
}

.snippet {
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style-type: none;
  width: 100%;
  height: 500px;
  padding: 30px 0 30px
}

.snippet iframe {
  width: 60%;
  height: 80%;
}


@media (min-width: 768px) {
  .container {
    flex-direction: row;
  }

  .editor,
  .output {
    width: calc(50% - 5px);
    height: calc(100vh - 60px);
    display: block !important;
  }

  .toggle-btn {
    display: none;
  }
}
